<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Assigning</title>
</head>
<body>


    {% for risk in risks %}
        {% for a_task in assos_tasks %}
            {% if a_task.risk.id == risk.id %}
                <p> - {{ a_task.task.name }}</p>
                <p> --- {{ a_task.duration }}</p>
                <p> --- {{ a_task.cost }}</p>
            {% endif %}
        {% endfor %}
    <h4>{{risk.name}}</h4>
    <!--{% if assos_tasks %}-->
        <!--{% for a_task in assos_tasks%}-->
            <!--<h5>a.name</h5>-->
        <!--{% endfor %}-->
    <!--{% endif %}-->
    <br>
    <br>
    {% for task1 in tasks%}
    <!--<option value="{{task1.id}}">{{task1.name}}</option>-->
    <h4>{{task1.name}}</h4>
                <p>duration</p>
                <input id="duration_{{risk.id}}_{{task1.id}}"/>
                 <p>cost</p>
                 <input id="cost_{{risk.id}}_{{task1.id}}"/>
                 <button  onclick="update_order({{risk.id}},{{task1.id}})" >update</button>
                 <br>
             {% endfor %}
         </select>
    <br>

    <br>
    <br>
    <br>
    {% endfor %}

    <a href="/cases/{{case.id}}/result">done</a>
    <script>
    function getSelectValues(select) {
          var result = [];
          var options = select && select.options;
          var opt;

          for (var i=0, iLen=options.length; i<iLen; i++) {
            opt = options[i];

            if (opt.selected) {
              result.push(opt.value);
            }
          }
          return result;
    }

    function update_order(risk_id,task_id) {
        var d = document.getElementById("duration_"+risk_id+"_"+task_id).value;
        var c = document.getElementById("cost_"+risk_id+"_"+task_id).value;
        var http = new XMLHttpRequest();
        var url = "/cases/assign_task";
        var params = "risk_id="+risk_id+"&task_id="+task_id+"&duration="+d+"&cost="+c;
        http.open("POST", url, true);
        http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

        http.onreadystatechange = function() {//Call a function when the state changes.
            if(http.readyState == 4 && http.status == 200) {
                var href = window.location.href;
                window.location.href = href;
            }
        }
        http.send(params);


    }
    </script>
</body>
</html>